.DS_Store
ansible/vars/openRc.sh
terraform/.terraform.lock.hcl
terraform/k8s-key.pem
terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/darwin_arm64/LICENSE.txt
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/darwin_arm64/terraform-provider-local_v2.5.2_x5
terraform/.terraform/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/terraform-provider-openstack_v1.52.1
terraform/.terraform/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/README.md
terraform/.terraform/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/LICENSE
terraform/.terraform/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/CHANGELOG.md
terraform/.terraform/registry.terraform.io/hashicorp/local/2.5.2/darwin_arm64/terraform-provider-local_v2.5.2_x5
terraform/.terraform/registry.terraform.io/hashicorp/local/2.5.2/darwin_arm64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/terraform-provider-openstack_v1.52.1
terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/README.md
terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/LICENSE
terraform/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.52.1/darwin_arm64/CHANGELOG.md
